<% include ../partials/header %>


<div class="container">
  <br>
  <i class="fa fa-3x fa-coffee" aria-hidden="true"></i>
    <h1 class="title">Welcome to Coffees Review</h1>
    <h4 class="text-center">World best coffee review site!!!</h4>
    <p class="text-center">
      <a class="btn btn-lg add-btn" href="/coffeeshop/new" role="button" >Add Coffee Shop</a>
    </p>
    <br>
    
    <div class="card-columns">
      <% coffeeshop.forEach(function(shop){ %>
      <div class="card">
        <img class="card-img-top" src="<%= shop.img %>" alt="<%= shop.name %>" width="100%">
        <div class="container">
          <br>
          <% for(var i = 0; i <= shop.price; i++){ %>
            <i class="fa fa-1x fa-usd" aria-hidden="true"></i>
          <% } %>
          <% for(var i = 0; i <= shop.star; i++){ %>
            <i class="fa fa-1x fa-star" aria-hidden="true"></i>
          <% } %>
          </div>
        <div class="card-block">
          <h1 class="text-center" style="font-weight:200; margin: 5px"><%= shop.name %></h1>
          <p class="text-center" style="color: #0097a7 "><%= shop.address %></p>
          <p class="text-center"><%= shop.description %></p>
          <a class="btn btn-primary btn-block" href="/coffeeshop/<%= shop._id %>" role="button" style="background-color: #00bcd4; border: none">See Full Description</a>
        </div>
      </div>
      <% }) %>
    </div>
</div>

<% include ../partials/footer %>